@model WebA.Models.AskForLeave

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: #fff7df; /* 替换为你需要的背景颜色 */
    }

    .custom-label {
        border: 1px solid #FFE183;
        background-color: #FFE183;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px; /* 添加圆角 */
        margin-bottom: 10px;
        margin-left: 28px;
        border-radius: 20px;
    }

    .form-control {
        border: 1px solid #FFE183;
        background-color: #FFE183;
        padding: 5px;
        font-weight: bold;
        width: 85%; /* 设置输入框宽度为父元素的 80% */
        margin-left: 28px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.3),-3px -3px 5px rgba(255,255,255,0.8);
    }

    .form-group {
        margin-bottom: 20px; /* 添加表单组之间的底部间距 */
    }

    .custom-button {
        margin-top: 20px;
        background-color: #fff7df; /* 设置按钮的背景色 */
        border-radius: 20px;
        font-weight: bold;
        color: black; /* 设置按钮的文字颜色 */
        margin-left: 145px;
        border: 5px solid #FFCD29; /* 橘色边框 */
    }

</style>
<div style="margin-bottom: 30px;">
    <img src="/img/topsleepover.png" alt="睡覺" style="display: block; width: 100%; height: auto;">
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AskForLeaveId" />

            <div class="form-group">
                <label asp-for="StudentId" class="control-label">學號</label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">日期</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label">原因</label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedOption" class="control-label custom-label">處理狀態</label>
                <select asp-for="SelectedOption" class="form-control">
                    <!-- 在這裡加入你的選項 -->
                    @*<option value="未處理" selected>未處理</option>*@
                    <option value="已核准">已核准</option>
                    <option value="未核准">未核准</option>
                    <!-- 更多選項... -->
                </select>
                <span asp-validation-for="SelectedOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary custom-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
