@model IEnumerable<WebA.Models.Pay>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Hover Animation</title>
    <style>
        body {
            background-color: #fff7df; /* 替换为你需要的背景颜色 */
            font-family: Arial, sans-serif;
        }

        .image-container {
            position: relative;
            display: inline-block;
            margin-right: 15px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

            .image-container img {
                width: 95%;
                height: auto;
                padding: 5px;
                margin-left: 15px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .image-container:hover img {
                transform: scale(1.05);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            }

        .top-image-container {
            margin-bottom: 20px;
        }

        .bottom-images {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <div class="top-image-container">
        <img src="/img/toppay.jpg" alt="繳費上" style="display: block; width: 100%; height: auto;">
    </div>
    <div class="bottom-images">
        <div class="image-container">
            <img src="/img/renewpay.png" alt="更新繳費狀態" onclick="location.href='@Url.Action("servers_housemaster", "Servers")';">
        </div>
        <div class="image-container" style="margin-top: 20px;">
            <img src="/img/utilitybills qrcode.png" alt="水電費收款碼" onclick="location.href='@Url.Action("pays_horsemaster", "pays")';">
        </div>
    </div>
</body>
</html>
