
<style>
    body {
        background-color: #fff7df; /* 替换为你需要的背景颜色 */
    }
    
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* 水平居中 */
        gap: 10px; /* 可調整按鈕之間的間距 */
    }

    .title {
        background-color: #BAB6AA; /* 標題底色 */
        padding: 5px; /* 標題內邊距 */
        border-radius: 25px; /* 圓角 */
        margin-bottom: 5px; /* 標題與按鈕間距 */
        height: 3rem; /* 高度 */
        width: 30%; /* 標題的寬度 */
        text-align: center; /* 文字水平居中 */
        font-size: 1.2rem; /* 調整字體大小 */
        line-height: 3rem; /* 文字垂直居中 */
        font-weight: bold;
        margin-right: auto; /* 将标题框向左移动到页面中间 */
        margin-left: 30px; /* 将标题框向左移动到页面中间 */
        display: flex; /* 使用 Flex 布局 */
        justify-content: center; /* 文字水平居中 */
        align-items: center; /* 垂直居中 */
        margin-bottom: 15px;
        
    }



    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%; /* 與標題相同的寬度 */
        max-width: 25rem; /* 最大寬度 */
        height: 2.3rem; /* 按鈕高度 */
        font-weight: bold;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        font-size: 1.05rem;
        border-radius: 25px; /* 圓角 */
        background-color: transparent; /* 背景顏色 */
        border: 3px solid #BAB6AA; /* 邊框顏色 */
        box-shadow:  -2px -2px 2px #cecece; /* 內凹立體感 */
        cursor: pointer;
        color: black; /* 文字顏色 */
        text-decoration: none; /* 禁用超連結下劃線 */
        margin-bottom: 10px;
        text-align: center; /* 水平居中 */
        transition: background-color 0s ease;
    }

        .btn:hover {
            background-color: #FFCD29; /* 懸停時的背景顏色 */
            color: black;
            border-color: #FFCD29;
            
        }

   
</style>

<div style="margin-bottom: 10px;">
    <img src="/img/topschool.jpg" alt="學校上" style="display: block; width: 100%; height: auto;">
</div>
<div class="button-container">
    <div class="title">校園資源</div>
    <a href="https://web2.mcu.edu.tw" class="btn btn-primary">銘傳首頁</a>
    <a href="https://moodle3-06.mcu.edu.tw" class="btn btn-primary">Moodle</a>
    <a href="https://www.mcu.edu.tw/student/new-query/default.asp" class="btn btn-primary">學生資訊系統</a>
    <a href="https://web2.mcu.edu.tw/calendar/" class="btn btn-primary">行事曆</a>
    <a href="http://www1.mcu.edu.tw/Apps/SB/SB_Site.aspx?pageID=164&wcID=2371&redirected=true" class="btn btn-primary">校內分機</a>
    <a href="https://gad.mcu.edu.tw/transportation/" class="btn btn-primary">交通指南</a>
    <a href="https://www1.mcu.edu.tw/Apps/SB/SB_Page.aspx?pageid=2376&noframes=true" class="btn btn-primary">校園地圖</a>
    <a href="https://web2.mcu.edu.tw/news/" class="btn btn-primary">最新消息</a>
    <a href="https://library.mcu.edu.tw" class="btn btn-primary">圖書館</a>
    <a href="https://www.week.mcu.edu.tw/" class="btn btn-primary">銘傳一週</a>
    <div class="title">使用說明</div>
    <a href="" class="btn btn-primary">Nest平台相關操作說明</a>
    <a href="" class="btn btn-primary">聯絡我們</a>
    <a href="" class="btn btn-primary">隱私權說明</a>
    <div class="title">linebot</div>
    <img src="/img/linebot.png" alt="linebot" style="display: block; width: 50%; height: auto;">
   
   
</div>